<!DOCTYPE html>
<html ng-app>
  <head>
    <title>01 - Data Binding</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "d01" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div class="container">
      <%= yield %>
    </div>
    <!-- /container -->

  </body>
</html>